body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #0fa4b4;
}

li {
	list-style: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}

.canvas {
	padding: 60px 40px;
	display: flex;
	justify-content: space-between;
	gap: 20px;

	background-color: #f4f4f4;
	border-radius: 40px;
}

.hangman {
	text-align: center;
}

.hangman__svg {
	display: block;
}
.hangman__svg--visible {
	fill: #000;
	stroke: #000;
}

.puzzle {
	padding: 40px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
}

.puzzle__word {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.puzzle__letter {
	position: relative;
	width: 40px;

	border-bottom: 3px solid #000;

	font-size: 2rem;
	font-weight: 600;

	overflow: hidden;
}
.puzzle__letter--open {
	border-bottom: none;
}

.puzzle__letter span {
	display: block;
	transform: translateY(-100%);

	transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.puzzle__letter--open span {
	display: block;
	transform: translateY(0);
}

.puzzle__hint {
	color: #237b0d;
}
.puzzle__question {
	color: #060606;
}
.puzzle__mistake {
	color: #a43535;
}
.puzzle__counter-mistake {
	color: #fb0505;
}

.keyboard {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}
.keyboard__letter {
	width: calc(100% / 9 - 5px);
	padding: 7px;
	color: #f6f6f6;
	font-size: 1rem;
	font-weight: 600;
	background-color: rgba(100, 136, 149, 0.8);
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	border: none;
	transition:
		background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1),
		color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.keyboard__letter:hover {
	background-color: #648895;
	box-shadow:
		-5px -5px 9px rgba(255, 255, 255, 0.45),
		5px 5px 9px rgba(94, 104, 121, 0.3);
}
.keyboard__letter:disabled {
	background-color: rgba(128, 128, 128, 0);
	pointer-events: none;
	color: #648895;

	box-shadow:
		inset -5px -5px 9px rgba(255, 255, 255, 0.45),
		inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(64, 63, 61, 0.8);

	overflow-y: auto;
}
.backdrop--is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop--is-hidden > modal {
	transform: scale(0.5, 0.5);
}

.modal {
	padding: 20px 10px;

	background-color: #f6f6f6;
	border-radius: 40px;

	transform: scale(1, 1);
	transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__img {
	/* width: 300px; */
}

.modal__current-word {
	color: #a43535;
}

.modal__btn {
	margin-top: 20px;
	padding: 10px;

	font-weight: 700;
	color: #5e6879;
	border: 1px solid #5e6879;
	border-radius: 15px;

	transition: box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
	color: #0f2027;
	border-color: transparent;
	box-shadow:
		-5px -5px 9px rgba(255, 255, 255, 0.45),
		5px 5px 9px rgba(94, 104, 121, 0.3);
}
.modal__btn:active {
	color: #15e38a;
	border-color: transparent;
	box-shadow:
		inset -5px -5px 9px rgba(255, 255, 255, 0.45),
		inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
